@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #acc6d2;
  line-height: 1.3;
}

p {
  margin: 0;
}

.wrapper {
  width: 560px;
}

.cat-image {
  display: block;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.is-hidden {
  visibility: hidden;
  display: none;
}

.breed-select {
  width: 100%;
}

.error {
  margin: 20px 0 0;
  padding: 0;
}

.cat-info {
  padding: 28px;
  width: 100%;
  border-radius: 3px 3px 36px 36px;
  background-color: #ffffffdb;
  box-shadow: 0 8px 8px rgba(115, 140, 155, 0.5);
}

.description {
  margin-bottom: 20px;
}

.temperament span {
  font-weight: 700;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  display: block;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  background-color: #ffffff;
  border-radius: 50%;
  animation: scale50 1s infinite ease-in-out;
}

.loader::before {
  top: auto;
  bottom: 0;
  background-color: #ff3d00;
  animation-delay: 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale50 {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.8);
  }
}
