@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  display: flex;
  padding: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #acc6d2;
}

.is-hidden {
  visibility: hidden;
  display: none;
}

.error {
  margin: 20px 0 0;
  padding: 0;
}

.cat-info {
  display: block;
  padding: 32px;

  border-radius: 16px;
  background-color: #ffffffdb;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin:20px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  background-color: #ffffff;
  border-radius: 50%;
  animation: scale50 1s infinite ease-in-out;
}
.loader::before {
  top: auto;
  bottom: 0;
  background-color: #ff3d00;
  animation-delay: 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale50 {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}