@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  display: flex;
  padding: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #acc6d2;
}

.loader, .error {
  margin: 10px 0 0;
  padding: 0;
}

.cat-info {
  display: block;
  padding: 32px;

  border-radius: 16px;
  background-color: #ffffffdb;
}